@charset 'utf-8';

@import 'settings';

@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
//@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-typography;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24em;

  .container {
    flex: 1;

    background-color: #00ff00;

    //align verticaly center

    //align horizontaly center
  }

}